body {
	font:14px bold PTSans,sans-serif;
	line-height: 24px;
	color: #000000;
}

h1, h2 {
	font: 30px bold PTSans,sans-serif;
	line-height: 42px;
	color: #000000;
	text-transform: uppercase;
}

h3 {
	font: 24px bold PTSans,sans-serif;
	line-height: 30px;
	color: #000000;
	text-transform: uppercase;
}